@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {

  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

}


:root {
 --mainColor: #62FE94;
}



/* NAVBAR  */

.logo {

  height: 50px;
  margin: 0;        
  padding: 5px;

}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(10, 10, 10);
  margin: 1rem 2rem;
  border-radius: 20px;
  align-self: center;
}


.nav-items {
  display: flex;
  gap: 20px;  /* This will create a gap between each anchor tag */

}


a {
  text-decoration: none;
  color: white;

}

.nav-btn {
 display: none;
}


/* RESPONSIVE NAV  */


@media only screen and (max-width: 1024px) {
    
  header .nav-btn {
    
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: rgb(10, 10, 10);
      border: none;  
      opacity: 1;
      color: var(--mainColor);


      
    }

    header .nav-btn .nav-items  {
      color: var(--mainColor);
    }

    header nav{
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 1.5rem;
      font-size: 1.5rem;
      font-family: 'Open Sans', sans-serif;
      background-color: rgb(10, 10, 10);
      transition: 1s ease-in-out;
      transform: translateY(-100vh);
      
    }


    header .responsive-nav {
      transform: none;
      color: var(--mainColor);
    }

    

}


/* HERO */

.hero-section {
  margin: 1rem 2rem;
  background-color: rgb(10, 10, 10);
  height: 100vh;
  border-radius: 20px;
}


.hero-container{
  width: 100%;
  height: 100%;
}



/* Submission */

.submission-section {
height: 35vh;
display: flex;
align-items: center;
justify-content: center;
}



.drop-area {
  color: rgb(0, 0, 0);
  position: relative;
  background-color: var(--mainColor);
  border-radius: 20px;
   padding: 5px;
   cursor: pointer;
   font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
  width: 400px;
  height: 120px;
text-align: center;
display: flex;
align-items: center;
justify-content: center;

  
}

.drop-area:hover {
  background-color: rgb(209, 131, 248);
  transition: 0.5s ease-in-out;

}


.open-btn {
  height: 100px;
  width: 100px;
  border-radius: 20px;
  border: none;
  background-color: rgb(139, 243, 139);
  
  /* Adding transition for smooth changes */
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.open-btn:hover {
  background-color: white;
  
  /* Expanding the button's size */
  transform: scale(1.1); /* This will make the button 10% larger when hovered */
}



/* FORM  */


.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 149px;
}


.form-container {
  height: 100%;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
   justify-content: center;
   flex-direction: row;
   
  
}

.left-section, .right-section {
  flex: 1; /* Each section takes up half the container width */
  display: flex;
  flex-direction: column;
  gap: 20px; /* Spacing between elements within sections */
}

.left-section {
  padding-right: 20px; /* Optional spacing between sections */
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column;
}

.right-section {
  padding-left: 20px; /* Optional spacing between sections */
  justify-content: center; 
  align-items: center;
  flex-direction: column;
}



.pillar-img {
  height: 50px;
  width: 50px;
 

}


.form-content {
  height: 90%;
  width: 90%;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  
  opacity: 0;
  transition: opacity 1s ease-in-out; 
 
}

.form-content.active {
  opacity: 1;
 
}


.close-btn {
  color: rgb(0, 0, 0);
  position: absolute;
  top: 50px; /* adjust to your needs */
  left: 90px;
  cursor: pointer;
  font-size: 1.7rem;
 
}

.cancel {
  color: rgb(128, 241, 154);
  background-color: black;
  border-radius: 20px;
}


.project-field-container {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
gap: 10px;
padding-top: 90px;
}

.project-name-input {
  height: 30px;
  width: 200px;
  border-radius: 20px;
  border: 1px solid black;
}

.project-address-input {
  height: 30px;
  width: 200px;
  border-radius: 20px;
  border: 1px solid black;
}

.project-address {
  font-size: 1.2rem;
  padding-right: 15px;
  font-family: 'Nunito', sans-serif;
}

.project-material {
  font-size: 1.2rem;
  padding-right: 15px;
  font-family: 'Nunito', sans-serif;
}

.project-material-input {
  height: 30px;
  width: 200px;
  
}

.project-jobs {
  font-size: 1.2rem;
  padding-right: 15px;
  font-family: 'Nunito', sans-serif;
}

.project-jobs-input {
  height: 30px;
  width: 200px;
  border-radius: 20px;
  border: 1px solid black;
}

.project-name {
  font-size: 1.2rem;
  padding-right: 15px;
  font-family: 'Nunito', sans-serif;
}

.form-submit-btn {
  border: none;
  width: 150px;
  height: 30px;
  border-radius: 30px;
  position: relative;
  bottom: 80px;
  background-color: rgb(53, 53, 53);
  color: white;
}

.form-submit-btn:hover {
  background-color: rgb(118, 245, 175);
  border: black solid 2px;
  color: black;
}



/* DATE PICKER */

.date-picker {
  width: 500px;


}

.date-picker button {
  color: green;
}






.gBDkEr {
  background-color:rgb(118, 245, 175) !important;
}

.gmHGyt {
  background:rgb(186, 244, 200) !important;
}

.gffXaB {
  background: linear-gradient(to left, rgba(1, 245, 123, 0.2), rgba(1, 245, 123, 0.2) 50%, rgba(1, 245, 123, 0) 50%, rgba(1, 245, 123, 0)) !important;
 
}

.cmClwi {
  height: 38px;
  line-height: 38px;
  margin: 5px auto;
  color: rgb(22, 250, 163) !important;
  background: linear-gradient(to right, rgba(1, 245, 139, 0.2), rgba(1, 245, 147, 0.2) 50%, rgba(1, 245, 151, 0) 50%, rgba(1, 245, 139, 0)) !important;
}

.iWrCim {
  background: linear-gradient(to right, rgba(1, 245, 135, 0.2), rgba(1, 245, 135, 0)) !important;
}

.fQndl {
  background: linear-gradient(to left, rgba(1, 245, 135, 0.2), rgba(1, 245, 135, 0)) !important;
}

.jNxJaS {
  background: rgba(1, 245, 135, 0.2) !important;
  color: black !important;
}

.ebzlGz::after {
  background: rgb(19, 243, 142) !important;
}

.BZWSg {
  color: rgb(15, 208, 121) !important;
}

.dDftEu {
  color: black !important;
}

.dZGTej::after {
  color: rgb(15, 208, 121) !important;
}

.ebzlGz {
  color:rgb(19, 207, 123) !important;
}

.jMjwEK {
  background-color: #62FE94 !important;
}



/* ABOUT US */

.about-section {
  margin: 1rem 2rem;
  background-color: rgb(10, 10, 10);
  height: 40vh;
  border-radius: 20px;
}



.jobs-section {
  height: 70px;
  display: flex;
  align-items: flex-end;
}


/* MATERIALS */

.material-container {
  padding: 20px;
  width: 100%;
  text-align: center;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
gap: 5px;
}

.add-btn {
  position: relative;
  right: 165px;
  top: 30px;
  border-radius: 20px;
  border: none;
  background-color: rgb(221, 221, 221);
  color: rgb(0, 0, 0);
}

.add-btn:hover {
  background-color: black;
  color: white;
}

.delete-btn {
  position: relative;
  left: 160px;
   bottom: 42px;
  border-radius: 20px;
  border: none;
  background-color: rgb(221, 221, 221);
  color: rgb(0, 0, 0);
}

.delete-btn:hover {
  background-color: black;
  color: white;
}

.sc-lcIPJg .cGndr .sc-fjvvzt .lcvIHF {
  padding: 0 !important;
}


.material-input-name {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 1px rgb(59, 59, 59) solid;
  height: 30px;
}


.material-input-number {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px rgb(59, 59, 59) solid;
  height: 30px;
}


