@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {

  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

}


:root {
 --mainColor: #62FE94;
}



/* NAVBAR  */

.logo {

  height: 50px;
  margin: 0;        
  padding: 5px;

}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(10, 10, 10);
  margin: 1rem 2rem;
  border-radius: 20px;
  align-self: center;
}


.nav-items {
  display: flex;
  gap: 20px;  /* This will create a gap between each anchor tag */

}


a {
  text-decoration: none;
  color: white;

}

.nav-btn {
 display: none;
}


/* RESPONSIVE NAV  */


@media only screen and (max-width: 1024px) {
    
  header .nav-btn {
    
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: rgb(10, 10, 10);
      border: none;  
      opacity: 1;
      color: var(--mainColor);


      
    }

    header .nav-btn .nav-items  {
      color: var(--mainColor);
    }

    header nav{
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 1.5rem;
      font-size: 1.5rem;
      font-family: 'Open Sans', sans-serif;
      background-color: rgb(10, 10, 10);
      transition: 1s ease-in-out;
      transform: translateY(-100vh);
      
    }


    header .responsive-nav {
      transform: none;
      color: var(--mainColor);
    }

    

}


/* HERO */

.hero-section {
  margin: 1rem 2rem;
  background-color: rgb(10, 10, 10);
  height: 100vh;
  border-radius: 20px;
}


.hero-container{
  width: 100%;
  height: 100%;
}



/* Submission */

.submission-section {
height: 50vh;
display: flex;
align-items: center;
justify-content: center;
}



.drop-area {
  color: rgb(0, 0, 0);
  position: relative;
  background-color: var(--mainColor);
  border-radius: 20px;
   padding: 5px;
   cursor: pointer;
   font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
  width: 600px;
  height: 150px;
text-align: center;
display: flex;
align-items: center;
justify-content: center;

  
}

.drop-area:hover {
  background-color: rgb(215, 143, 250);
  transition: 0.5s ease-in-out;

}


.open-btn {
  height: 100px;
  width: 100px;
  border-radius: 20px;
  border: none;
  background-color: rgb(139, 243, 139);
  
  /* Adding transition for smooth changes */
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.open-btn:hover {
  background-color: white;
  
  /* Expanding the button's size */
  transform: scale(1.1); /* This will make the button 10% larger when hovered */
}



/* FORM  */


.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.form-container {
  height: 100%;
  position: relative;
  width: 100%;
  display: flex;
align-items: center;
justify-content: center;

}

.pillar-img {
  height: 50px;
  width: 50px;
 

}


.form-content {
  height: 90%;
  width: 90%;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  opacity: 0;
  transition: opacity 1s ease-in-out; 
 
}

.form-content.active {
  opacity: 1;
 
}


.close-btn {
  color: rgb(0, 0, 0);
  position: absolute;
  top: 50px; /* adjust to your needs */
  left: 90px;
  cursor: pointer;
  font-size: 1.7rem;
 
}

.cancel {
  color: rgb(128, 241, 154);
  background-color: black;
  border-radius: 20px;
}


.project-name-container {
display: flex;
align-items: center;
justify-content: center;
flex-direction: row;

}

.project-name-input {
  height: 30px;
  width: 200px;
}

.project-name {
  font-size: 2rem;
  padding-right: 15px;
  font-family: 'Nunito', sans-serif;
}

.form-submit-btn {
  border: none;
  width: 150px;
  height: 30px;
  border-radius: 30px;

}

.form-submit-btn:hover {
  background-color: rgb(118, 245, 175);
  border: black solid 2px;
}



/* SKETCHES */

.sketch-btn {
  height: 40px;
  width: 250px;
  background-color: rgb(116, 116, 116);
border-radius: 20px;
}